*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: Open sans, sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

h2,
h4 {
  font-weight: 400;
}
label {
  font-weight: 300;
}
span {
  font-weight: 600;
}

h1 {
  text-align: center;
  padding: 3rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.global-container {
  max-width: 800px;
  margin: 0 auto;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-block {
  width: 80%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 0px 5px 10px rgb(104, 104, 104, 0.5);
  background: #f1f1f1;
}

.question-block > div {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.question-block .question-label {
  padding: 0.2rem;
  font-size: 20px;
}

.question-block h4 {
  font-size: 24px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.question-label input,
label {
  cursor: pointer;
}

.question-label label {
  margin-left: 10px;
}

.check-box {
  padding: 3rem;
  align-self: center;
}

.check-box button {
  background-color: #f1f1f1;
  border: none;
  width: 8rem;
  height: 2.5rem;
  border-radius: 2px;
  box-shadow: 0px 5px 10px rgb(104, 104, 104, 0.5);
  min-width: 200px;
  cursor: pointer;
}

.show-result {
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 5px 10px rgb(104, 104, 104, 0.5);
}

.show-result h2 {
  padding: 1rem;
}

.show-result p {
  display: none;
  padding: 0.5rem;
}
